body {
    font-family: Roboto;
    background-color: #FFFFFF;
    width: 1512px;
    height: 982px;
}

main {
    margin: 0 47px 0 47px;
}

.header-main {
    width: 1418px;
    height: 140px;
    background-color: #FFFFFF;
    border-bottom: 10px solid #AACE9B;
    /*justify-content: space-between;*/
}

.button-menu {
    width: 42px;
    height: 42px;
    margin: 10px 0 0 0;
    background-color: #FFFFFF;
    border-style: none;
}

/*.button-menu:hover {
    background-color: grey;
}*/

.secondary-title {
    color: rgba(55, 56, 103, 0.4);
    /*opacity: .4;*/
    font-size: 30px;
    margin: 30px 0 0 0;
}

.social-networks {
    float: right;
}

.social-networks img{
    margin:0 20px;
}

.wellcome-content {
    width: 1418px;
    height: 800px;
    background-color: rgba(170, 206, 155, 0.1);
}

.wc-section{
    width: 660px;
    height: 693px;
    float: left;
    margin:51px 0;
}

.wc-image{
    width: 677px;
    height: 698px;
    float: right;
    margin:51px 0;
}

.primary-title {
    color: #373867;
    font-size: 40px;
}

.opaque-text {
    color: rgba(55, 56, 103, 0.4);
    font-size: 20px;
}

.wc-button {
    width: 154px;
    height: 49px;
    background-color: #AACE9B;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #373867;
    border-radius: 7px;
}

.tertiary-title {
    color: #373867;
    font-size: 30px;
}