<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Sign Up - Mega Rocket</title>
</head>
<body>
    <header class="green-bottom-border">
        <button class="button-menu">
            <img src="../../assets/imgs/header-menu.svg" alt="Menu icon">
        </button>
        <h2 id="header-title">Mega Rocket</h2>
        <div class="header-social-networks">
            <a href="https://www.linkedin.com/"><img src="../../assets/imgs/linkedin.svg" alt="Linkedin icon"></a>
            <a href="https://twitter.com/"><img src="../../assets/imgs/twitter.svg" alt="Twitter icon"></a>
            <a href="https://www.facebook.com/"><img src="../../assets/imgs/facebook.svg" alt="Facebook icon"></a>
            <a href="https://www.instagram.com/"><img src="../../assets/imgs/instagram.svg" alt="Instagram icon"></a>
            <a href="https://github.com/"><img src="../../assets/imgs/git.svg" alt="Github icon"></a>
        </div>
    </header>
    <main class="green-bottom-border">
        <section class="signup">
            <h3 class="secondary-title">Mega Rocket</h3>
            <h4>Sign Up</h4>
            <div>
                <div class="sign-fields">
                    <label class="label-data" for="name-input">Name *</label>
                    <input id="name-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-name"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Last name *</label>
                    <input id="lastname-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-lastname"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">DNI *</label>
                    <input id="dni-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-dni"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Birthdate *</label>
                    <input id="birth-input" class="input-data" type="date">
                    <span id="fail-birth"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Phone number *</label>
                    <input id="phone-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-phone"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Address *</label>
                    <input id="address-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-address"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Location *</label>
                    <input id="location-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-location"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Postal code *</label>
                    <input id="postal-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-postal"></span>
                </div>
                <div class="sign-fields">
                    <label class="label-data">E-mail *</label>
                    <input id="email-input" class="input-data" type="text" placeholder="Write here">
                    <span id="fail-email"></span>
                </div>
                <div>
                    <p>Membership *</p>
                    <input type="radio" id="msBlack" name="membership" value="black">
                    <label for="msBlack">Black</label>
                    <input type="radio" id="msClassic" name="membership" value="classic">
                    <label for="msClassic">Classic</label>
                    <input type="radio" id="msOnly" name="membership" value="only">
                    <label for="msOnly">Only Classes</label>
                </div>
                <div class="sign-fields">
                    <label class="label-data">Password *</label>
                    <input class="input-data" type="password" placeholder="Type a password">
                </div>
                <div class="sign-fields">
                    <label class="label-data">Repeat password *</label>
                    <input class="input-data" type="password" placeholder="Repeat the password">
                </div>
            </div>
            <p>* Indicates a required field</p>
            <div class="signup-buttons">
                <button id="back-button" class="signup-button">Back</button>
                <button id="sign-button" class="signup-button">Sign Up</button>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-social-networks">
            <a href="https://www.linkedin.com/"><img src="../../assets/imgs/linkedin.svg" alt="Linkedin icon"></a>
            <a href="https://twitter.com/"><img src="../../assets/imgs/twitter.svg" alt="Twitter icon"></a>
            <a href="https://www.facebook.com/"><img src="../../assets/imgs/facebook.svg" alt="Facebook icon"></a>
            <a href="https://www.instagram.com/"><img src="../../assets/imgs/instagram.svg" alt="Instagram icon"></a>
            <a href="https://github.com/"><img src="../../assets/imgs/git.svg" alt="Github icon"></a>
        </div>
        <p class="footer-paragraph">
            Rosario, Argentina.
        </p>
        <p class="footer-paragraph">
            Copyright © 2022 Radium Rocket. All rights reserved.
        </p>
    </footer>
    <script src="../js/sign-up.js"></script>
</body>
</html>