:root {
    --primary-color-white: #FFFFFF;
    --primary-color-green: #AACE9B;
    --background-color-light: rgba(170, 206, 155, 0.1);
    --text-color-light: rgba(55, 56, 103, 0.4);
    --text-color-dark: #373867;
    --line-color-light: rgba(55, 56, 103, 0.1);
}

body {
    font-family: Roboto;
    font-size: 16px;
    background-color: var(--primary-color-white);
}

header {
    margin: 0 3% 0 3%;
}

main {
    margin: 0 3% 0 3%;
    text-align: center;
}

footer {
    margin: 0 3% 0 3%;
}

.button-menu {
    display: inline;
    width: 10%;
    height: 10%;
    background-color: var(--primary-color-white);
    border-style: none;
}

.header-title {
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-light);
}

.header-social-networks {
    display: inline;
}

.header-social-networks img{
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.wellcome {
    display: block;
    background-color: var(--background-color-light);
}

.wellcome-info {
    text-align: left;
}

.primary-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.wellcome-caption {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color-light);
}

.wellcome-img {
    width: 100%;
    max-width: 680px;
}

.light-paragraph-text {
    font-size: 1rem;
    text-align: left;
    color: var(--text-color-light);
}

.main-button {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-dark);
    background-color: var(--primary-color-green);
    border-style: none;
    border-radius: 7px;
    cursor: pointer;
}

.features {
    display: block;
    background-color: var(--primary-color-white);
}

.secondary-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: left;
}

.flexbox-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexbox-img {
    text-align: left;
    width: 100%;
}

.flexbox-icon {
    width: 70%;
    max-width: 132px
}

.flexbox-description {
    text-align: left;
    width: 100%;
}

.flexbox-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.flexbox-paragraph {
    font-size: 1rem;
    text-align: left;
    color: var(--text-color-dark);
}

.contact {
    display: block;
    text-align: left;
}

.flexcontact-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-fields {
    width: 100%;
}

.label-data {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.input-data {
    border-radius: 7px;
    border: 2px solid #373867;
}

.input-select {
    border-radius: 7px;
    border: 2px solid #373867;
}

.input-txtarea {
    border-radius: 7px;
    border: 2px solid #373867;
}

.history {
    display: block;
}

.history-description {

}

.flexhistory-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexhistory-description {

}

.flexhistory-img img{
    text-align: left;
    width: 100%;
}

.tertiary-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: left;
}

.activities {
    display: block;
}

.navigation-bottons {
    display: block;
}

.nav-botton {
    width: 54px;
    height: 30px;
    border-radius: 7px;
    background-color: var(--primary-color-white);
    color: var(--primary-color-green);
    border:2px solid #AACE9B;
    font-size: 12px;
}

.nav-botton-page {
    width: 35px;
    height: 30px;
    border-radius: 7px;
    background-color: var(--primary-color-white);
    color: var(--primary-color-green);
    font-size: 12px;
    border:2px solid #AACE9B;
    margin:0 5px;
}

.footer-social-networks {
    text-align: center;
}

.footer-paragraph {
    display: block;
    text-align: center;
    font-size: 12px;
    color: var(--text-color-light);
}

.green-bottom-border {
    border-bottom: 10px solid #AACE9B;s
}

.menu {
    display: none;
}