:root {
    --primary-color-white: #FFFFFF;
    --primary-color-green: #AACE9B;
    --background-color-light: rgba(170, 206, 155, 0.1);
    --text-color-light: rgba(55, 56, 103, 0.4);
    --text-color-dark: #373867;
    --line-color-light: rgba(55, 56, 103, 0.1);
}

body {
    font-family: Roboto;
    font-size: 16px;
    background-color: var(--primary-color-white);
}

main {
    margin: 0 3% 0 3%;
    text-align: center;
}

.wellcome {
    background-color: var(--background-color-light);
}

.wellcome-info {
    text-align: left;
}

.primary-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.wellcome-caption {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color-light);
}

.wellcome-img {
    width: 100%;
    max-width: 680px;
}

.wellcome-paragraph-text {
    font-size: 1rem;
    text-align: left;
    color: var(--text-color-light);
}

.main-button {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-dark);
    background-color: var(--primary-color-green);
    border-style: none;
    border-radius: 7px;
    cursor: pointer;
}

.features {
    background-color: var(--primary-color-white);
}

.secondary-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: left;
}

.flexbox-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flexbox-img {
    text-align: left;
    width: 100%;
}

.flexbox-icon {
    width: 70%;
    max-width: 132px
}

.flexbox-description {
    text-align: left;
    width: 100%;
}

.flexbox-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.flexbox-paragraph {
    font-size: 1rem;
    text-align: left;
    color: var(--text-color-dark);
}

.contact {
 text-align: left;
}

.flexcontact-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-fields {
    width: 100%;
}

.label-data {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.input-data {
    border-radius: 7px;
    border: 2px solid #373867;;
}

.input-select {
    border-radius: 7px;
    border:2px solid #373867;
}

.input-txtarea {
    border-radius: 7px;
    border:2px solid #373867;
}



.activities {
    background-color: var(--primary-color-white);
}

.header-content {
    display: none;
}

.article-hide {
    display: none;
}